body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: #acacac;
}

nav .container {
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftNav {
    width: 20%;
}

.logo {
    width: 100px;
}

.rightNav {
    width: 60%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #000;
    text-decoration: none;
}

main .left {
    padding: 1rem;
    width: calc(40% - 0.5rem);
}

main .left,
main .right {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profileImg {
    width: 100%;
}

main .right {
    width: calc(60% - 1rem);
}

.newPost {
    padding: 0 0 1.5rem;
}

.newPost :is(input, textarea) {
    width: 100%;
}

.newPost input {
    margin: 0 0 1rem;
}

.post {
    border-radius: 0.5rem;
    background-color: #acacac;
}

.post + .post {
    margin: 0.5rem 0 0;
}

.newComment textarea {
    width: 100%;
    resize: vertical;
    max-height: 200px;
}
.newComment button {
}

.comments {
    width: 80%;
    margin: 0 auto;
}
.comment + .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0.5rem 0 0;
}

footer {
    background-color: #333;
    color: #fff;

    padding: 1rem 0;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

footer p {
    padding: 0;
}

footer a {
    color: #fff;
}

/* FRIENDSLIST */

.friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 1rem .5rem;
}
.friend {
    border: 1px solid black;
    border-radius: 2em;
    text-align: center;
    padding: 1rem 0.5rem;
}
.friend a {
    text-decoration: none;
    color: black;
}
