body{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

nav{
    background-color: #acacac;
}

nav .container{
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftNav{
    width: 20%;
}

.logo{
    width: 100px;
}

.rightNav{
    width: 60%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: #000;
    text-decoration: none;
}









footer{
    background-color: #333;
    color: #fff;

    padding: 1rem 0;
}

footer ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

footer p{
    padding: 0;
}

footer a{
    color: #fff;
}