.body{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

nav{
    background-color: #acacac;
}

nav .container{
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftNav{
    width: 20%;
}

.logo{
    width: 100px;
}

.rightNav{
    width: 60%;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: #000;
    text-decoration: none;
}



main .container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    padding: 10px 0;
}

main .left{
    width: calc(40% - .5rem);
}

main .left, main .right{
    padding: 1rem;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.profileImg{
    width: 100%;
}

main .right{
    width: calc(60% - 1rem);
}
.postContainer{
    width: 100%;


}
.post{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    margin-bottom: 25px;
    padding: 1rem 0.5rem;
    background-color: #acacac;
}
.postTitle{
    text-align: center;
}
.newComment{
    width: 100%;
    padding: .5rem 0.25rem;
    box-sizing: border-box;
    margin: .5rem 0;

}
.comments{
    width: 80%;
    height: auto;
    margin: 25px auto;
}
.comment{

    margin: 1rem 0;
}



footer{
    background-color: #333;
    color: #fff;

    padding: 1rem 0;
}

footer ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

footer p{
    padding: 0;
}

footer a{
    color: #fff;
}