<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/friends.css}">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script th:type="module" th:src="@{/js/stomp.js}"></script>

    <script th:src="@{/js/app.js}" defer></script>
    <script src="@{/js/friends.js}" defer></script>
</head>
<body>


<nav>
    <div class="container">
        <div class="leftNav">
            <h1>Social Network</h1>
        </div>
        <div class="rightNav">
            <form action="">
                <input type="search" oninput="liveSearch()" id="search" >
                <button type="submit" id="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="containerr">

    <div class="title">
        <h1>Friends list</h1>
    </div>





    <h2>Requested Friends</h2>
    <div class="requested_friends">
        <div class="requested_friend">
            <div class="left">
                <span id="nameSurname">Ivan Morozov</span>
                <span id="email">blablabla@gmail.com</span>
            </div>
            <div class="right">
                <button id="accept">Accept</button>
                <button id="decline">Decline</button>
            </div>
        </div>


        <h2>My Friends</h2>

    </div>
    <div class="friends_list">
        <div class="friend">
            <div class="left">
                <span id="nameSurname">Ruppel Artem</span>
                <span id="email">blablabla@gmail.com</span>
            </div>
            <div class="middle">
                <label for="visible">visible</label><input type="radio" id="visible" checked>
                <label for="hidden">hidden</label><input type="radio" id="hidden">
            </div>
            <div class="right">
                <button id="accept">Delete</button>
            </div>
        </div>
        <div class="friend">
            <div class="left">
                <span id="nameSurname">Ruppel Ruslan</span>
                <span id="email">blablabla@gmail.com</span>
            </div>
            <div class="middle">
                <label for="visible">visible</label><input type="radio" id="visible" checked>
                <label for="hidden">hidden</label><input type="radio" id="hidden">
            </div>
            <div class="right">
                <button id="accept">Delete</button>
            </div>
        </div>
        <div class="friend">
            <div class="left">
                <span id="nameSurname">Chagirov Sanzhar</span>
                <span id="email">blablabla@gmail.com</span>
            </div>
            <div class="middle">
                <label for="visible">visible</label><input type="radio" id="visible" checked>
                <label for="hidden">hidden</label><input type="radio" id="hidden">
            </div>
            <div class="right">
                <button id="accept">Delete</button>
            </div>
        </div>
        <div class="friend">
            <div class="left">
                <span id="nameSurname">Kuanysh Maksat</span>
                <span id="email">blablabla@gmail.com</span>
            </div>
            <div class="middle">
                <label for="visible">visible</label><input type="radio" id="visible" checked>
                <label for="hidden">hidden</label><input type="radio" id="hidden">
            </div>
            <div class="right">
                <button id="accept">Delete</button>
            </div>
        </div>
    </div>
</div>


















<!--<nav>-->
<!--    <div class="container">-->
<!--        <div class="leftNav">-->
<!--            <img src="https://logos-world.net/wp-content/uploads/2020/12/Lays-Logo.png" alt="" class="logo">-->
<!--        </div>-->
<!--        <div class="rightNav">-->
<!--            <ul>-->
<!--                <li><a href="#">Link1</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link4</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<main>-->
<!--    <div class="container">-->
<!--        <div class="left">-->
<!--            <div class="profileDetails">-->
<!--                <div class="profileImage">-->
<!--                    <img class="profileImg" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png"-->
<!--                         alt="">-->
<!--                </div>-->
<!--                <div class="profileInfo">-->
<!--                    <h1 id="name">Name Surname</h1>-->
<!--                    <h3>email@example.com</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="links">-->
<!--                <p><a href="#">Friends</a></p>-->
<!--                <p><a href="#">Friends</a></p>-->
<!--                <p><a href="#">Friends</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="right">-->

<!--            <div class="newPost">-->
<!--                <h1>Create a new Post</h1>-->
<!--                <form id="postForm">-->
<!--                    <label for="postTitle">Post Title</label>-->
<!--                    <input id="postTitle" type="text">-->

<!--                    <label for="postContent">Content</label>-->
<!--                    <textarea id="postContent"></textarea>-->

<!--                    <input th:type="submit">Create</input>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="postContainer">-->

<!--                <div class="post">-->
<!--                    <h1 class="postTitle">Akbala</h1>-->
<!--                    <p class="postContent">-->
<!--                        Этот кулинарный шедевр, несмотря на свою колоссальную популярность, не имеет однозначного-->
<!--                        рецепта приготовления, но мы постарались подобрать рецепт, который обязательно порадует вас-->
<!--                        своим вкусом.-->
<!--                        Тесто для лагмана предлагаем приобрести готовое, так как процесс приготовления его не столь-->
<!--                        быстрый, как нам хотелось бы.-->

<!--                        Приблизительная стоимость готового блюда — 32 000 сум.*-->

<!--                        *стоимость актуальна на момент публикации рецепта.-->
<!--                    </p>-->
<!--                    <h5 class="postAuthor">-->
<!--                        Ayau - <span class="postCreatedDate">25.08.2025</span>-->
<!--                    </h5>-->
<!--                    <div class="newComment">-->
<!--                        <textarea></textarea>-->
<!--                        <button class="submit">Send</button>-->
<!--                    </div>-->

<!--                    <div class="comments">-->
<!--                        <h3>Comments:</h3>-->
<!--                        <div class="comment">-->
<!--                            <h3 class="commentAuthor">Maks</h3>-->
<!--                            <p class="commentDate">15.09.2025</p>-->
<!--                            <p class="message">Если жидкости в казане мало, то необходимо налить 120 миллилитров воды,-->
<!--                                посолить, поперчить и тушить 10 минут на небольшом огне.-->

<!--                                Готовую подливу разложить на тарелки поверх лагмана.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

<!--<footer>-->
<!--    <div class="container">-->
<!--        <div class="links">-->
<!--            <ul>-->
<!--                <li><a href="#">Link1</a></li>-->
<!--                <li><a href="#">Link2</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link3</a></li>-->
<!--                <li><a href="#">Link4</a></li>-->
<!--                <li><a href="#">Link5</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quidem.</p>-->
<!--    </div>-->
<!--</footer>-->

</body>
</html>